header.header
	.header__top
		.container
			.header__top-inner
				.logo
					a(href="#").logo__link
						img(src="static/images/common/logo.png" alt="логотип").logo__image
				.header__btn
					a(href="#").header__link.btn.btn--size-s.btn--bg-blue Become a Seller
				.header__icons
					.header__icon
						a(href="#").header__icon-link
							+icon('alarm')
							span.header__icon-number(style="background-color: #ff6a6c;") 25
						include ../dropdown/notification-dropdown
					.header__icon
						a(href="#").header__icon-link
							+icon('envelope')
							span.header__icon-number(style="background-color: #62d03b;") 6
						include ../dropdown/messages-dropdown
					.header__icon
						a(href="#").header__icon-link
							+icon('cart')
							span.header__icon-number(style="background-color: #0674ec;") 2
						include ../dropdown/basket-dropdown
				a(href="#").header__author
					.header__author-userpic
						img(src="static/images/common/avatar.png").header__author-image
					.header__author-info
						span.header__author-name Taofiq Hakim
						span.header__author-price $20.45
	.header__bottom
		.container
			.header__bottom-inner
				include ../main-menu/main-menu
				include ../search/header__search

