form(action="#").header__search
	label.header__search-label
		input(placeholder="Search product here..." required).header__search-input
		button(type="submit").header__search-btn.btn--bg-blue
			+icon('magnifier')