.section-top__filter-dropdown
	ul.section-top__filter-list
		li.section-top__filter-item
			button.section-top__filter-btn Featured
		li.section-top__filter-item
			button.section-top__filter-btn(data-sort="number:asc") Price: Low to High
		li.section-top__filter-item
			button.section-top__filter-btn Price: High to Low
		li.section-top__filter-item
			button.section-top__filter-btn Avg. Customer Review
		li.section-top__filter-item
			button.section-top__filter-btn Newest Arrivals