.main-menu__dropdown.dropdown
	ul.main-menu__dropdown-list
		li.main-menu__dropdown-item.dropdown-item
			a(href="#").main-menu__dropdown-link.dropdown-link Recent Items
		li.main-menu__dropdown-item.dropdown-item
			a(href="#").main-menu__dropdown-link.dropdown-link Popular Items
		li.main-menu__dropdown-item.dropdown-item
			a(href="#").main-menu__dropdown-link.dropdown-link Featured Items
		li.main-menu__dropdown-item.dropdown-item
			a(href="#").main-menu__dropdown-link.dropdown-link Free Templates
		li.main-menu__dropdown-item.dropdown-item
			a(href="#").main-menu__dropdown-link.dropdown-link Follow Feed
		li.main-menu__dropdown-item.dropdown-item
			a(href="#").main-menu__dropdown-link.dropdown-link Top Authors