.header__top-dropdown.dropdown-notification
	.header__top-dropdown-head
		sapn.header__top-dropdown-title My Notifications
		a(href="#").header__top-dropdown-more View All
	.header__top-dropdown-body
		ul.header__top-dropdown-list
			li.header__top-dropdown-item
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-2.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						strong.dropdown-notification__name.header__top-dropdown--name Anderson
						span.header__top-dropdown-text  added to Favourite
						span.header__top-dropdown-desc.header__top-dropdown-text--color-blue  Marketify Coffee Shop
						span.header__top-dropdown-time Just now
					.dropdown-notification__icon.dropdown-notification__icon--color-blue
						+icon('heart')
			li.header__top-dropdown-item
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-3.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						strong.dropdown-notification__name.header__top-dropdown--name Michael
						span.header__top-dropdown-text  commented on
						span.header__top-dropdown-desc.header__top-dropdown-text--color-blue MartPlace Extension Bundle
						span.header__top-dropdown-time 2 hours ago
					.dropdown-notification__icon.dropdown-notification__icon--color-pink
						+icon('bubble')
			li.header__top-dropdown-item
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-4.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						strong.dropdown-notification__name.header__top-dropdown--name Moshed
						span.header__top-dropdown-text  Purchased <br>
						span.header__top-dropdown-desc.header__top-dropdown-text--color-blue  Bryson-Responsive Template
						span.header__top-dropdown-time 6 hours ago
					.dropdown-notification__icon.dropdown-notification__icon--color-red
						+icon('cart')
			li.header__top-dropdown-item
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-5.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						strong.dropdown-notification__name.header__top-dropdown--name Tamim
						span.header__top-dropdown-text  wrote a review on
						span.header__top-dropdown-desc.header__top-dropdown-text--color-blue  Rida-Responsive vCard Template
						span.header__top-dropdown-time 2 days ago
					.dropdown-notification__icon.dropdown-notification__icon--color-green
						+icon('star')