extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/index/main-screen
	include pages/index/features
	include pages/index/featured-products
	include pages/index/newest-product
	include pages/index/followers-feed
	include pages/index/statistics
