section.s-advantages.section--padding-top-bottom
	.container
		+title('Why Choose',' MartPlace','Laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats. Lid est laborum dolo rumes fugats untras.')
		.advantages__inner
			.advantages__item
				span.advantages__item-number 01
				+icon('license', 'advantages__item-icon advantages__item-icon--color-blue')
				h3.advantages__item-title One Time Payment
				p.advantages__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diam congue is laoreet elit metus.
			.advantages__item
				span.advantages__item-number 02
				+icon('magic-wand', 'advantages__item-icon advantages__item-icon--color-purple')
				h3.advantages__item-title Quality Products
				p.advantages__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diam congue is laoreet elit metus.
			.advantages__item
				span.advantages__item-number 03
				+icon('lock', 'advantages__item-icon advantages__item-icon--color-green')
				h3.advantages__item-title 100% Secure Payment
				p.advantages__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diam congue is laoreet elit metus.
			.advantages__item
				span.advantages__item-number 04
				+icon('chart-bars', 'advantages__item-icon advantages__item-icon--color-yellow')
				h3.advantages__item-title Well Organized Code
				p.advantages__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diam congue is laoreet elit metus.
			.advantages__item
				span.advantages__item-number 05
				+icon('leaf', 'advantages__item-icon advantages__item-icon--color-lightblue')
				h3.advantages__item-title Life Time Free Update
				p.advantages__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diam congue is laoreet elit metus.
			.advantages__item
				span.advantages__item-number 06
				+icon('phone', 'advantages__item-icon advantages__item-icon--color-red')
				h3.advantages__item-title Fast and Friendly Support
				p.advantages__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diam congue is laoreet elit metus.