section.s-buy-sale
	.buy-sale__wrapper
		.buy-sale__bg.buy-sale__bg--blue
			.buy-sale__content
				+icon('sale', 'buy-sale__icon')
				h3.buy-sale__title Sell Your Products
				p.buy-sale__text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diamcongue is laoreet elit metus.
				a(href="#").buy-sale__link.btn.btn--bg-white.btn--size-m Become an Author
		.buy-sale__bg.buy-sale__bg--purple
			.buy-sale__content
				+icon('buy', 'buy-sale__icon')
				h3.buy-sale__title Start Shopping Today
				p.buy-sale__text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diamcongue is laoreet elit metus.
				a(href="#").buy-sale__link.btn.btn--bg-white.btn--size-m.buy-sale__link--color-purple Start Shopping