section.s-featured-product.section-bg--color-gray.section--padding-top-bottom
	.container
		.section-top.featured-product__top
			h2.title.title--color-black.title--size-s Weekly Featured Products
			.featured-product__control.section-top__control.section-top__control--bg-pink
		.js-featured-product__slider
			.featured-product__slider
				.featured-product__inner
					.featured-product__picture(style="background-image: url(static/images/common/template-1.jpg);")
					.featured-product__box
						h3.featured-product__title.title.title--color-black.title--weight-medium One Page Resume Template
						.featured-product__author
							a(href="#").featured-product__user
								img(src="static/images/common/avatar-2.png", alt="").featured-product__user-userpic
								span.featured-product__author-text AazzTech
							a(href="#").featured-product__author-link
								+icon('wordpress', 'featured-product__author-icon')
								span.featured-product__author-text WordPress
						p.featured-product__desc Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue justo ut scelerisque.
						.featured-product__info
							button.featured-product__info-btn.btn.btn--size-xs website
							button.featured-product__info-btn.btn.btn--size-xs  plugin
							button.featured-product__info-btn.btn.btn--size-xs  landing page
						.featured-product__benefits
							a(href="#").featured-product__price.btn.btn--bg-blue.btn--size-xs $10 - $50
							a(href="#").featured-product__benefits-link
								+icon('heart', 'featured-product__benefits-icon')
								span.featured-product__benefits-link-text 46
							a(href="#").featured-product__benefits-link.featured-product__benefits-link--color-blue
								+icon('cart', 'featured-product__benefits-icon')
								span.featured-product__benefits-link-text 634
							.featured-product__rated.rated(data-rateyo-read-only="true" data-rateyo-rating="4.5")
			.featured-product__slider
				.featured-product__inner
					.featured-product__picture(style="background-image: url(static/images/common/template-2.jpg);")
					.featured-product__box
						h3.featured-product__title.title.title--color-black.title--weight-medium One Page Resume Template
						.featured-product__author
							a(href="#").featured-product__user
								img(src="static/images/common/avatar-2.png", alt="").featured-product__user-userpic
								span.featured-product__author-text AazzTech
							a(href="#").featured-product__author-link
								+icon('wordpress', 'featured-product__author-icon')
								span.featured-product__author-text WordPress
						p.featured-product__desc Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue justo ut scelerisque.
						.featured-product__info
							button.featured-product__info-btn.btn.btn--size-xs website
							button.featured-product__info-btn.btn.btn--size-xs  plugin
							button.featured-product__info-btn.btn.btn--size-xs  landing page
						.featured-product__benefits
							a(href="#").featured-product__price.btn.btn--bg-blue.btn--size-xs $10 - $50
							a(href="#").featured-product__benefits-link
								+icon('heart', 'featured-product__benefits-icon')
								span.featured-product__benefits-link-text 46
							a(href="#").featured-product__benefits-link.featured-product__benefits-link--color-blue
								+icon('cart', 'featured-product__benefits-icon')
								span.featured-product__benefits-link-text 634
							.featured-product__rated.rated(data-rateyo-read-only="true" data-rateyo-rating="4")
			.featured-product__slider
				.featured-product__inner
					.featured-product__picture(style="background-image: url(static/images/common/template-3.jpg);")
					.featured-product__box
						h3.featured-product__title.title.title--color-black.title--weight-medium One Page Resume Template
						.featured-product__author
							a(href="#").featured-product__user
								img(src="static/images/common/avatar-2.png", alt="").featured-product__user-userpic
								span.featured-product__author-text AazzTech
							a(href="#").featured-product__author-link
								+icon('wordpress', 'featured-product__author-icon')
								span.featured-product__author-text WordPress
						p.featured-product__desc Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet congue justo ut scelerisque.
						.featured-product__info
							button.featured-product__info-btn.btn.btn--size-xs website
							button.featured-product__info-btn.btn.btn--size-xs  plugin
							button.featured-product__info-btn.btn.btn--size-xs  landing page
						.featured-product__benefits
							a(href="#").featured-product__price.btn.btn--bg-blue.btn--size-xs $10 - $50
							a(href="#").featured-product__benefits-link
								+icon('heart', 'featured-product__benefits-icon')
								span.featured-product__benefits-link-text 46
							a(href="#").featured-product__benefits-link.featured-product__benefits-link--color-blue
								+icon('cart', 'featured-product__benefits-icon')
								span.featured-product__benefits-link-text 634
							.featured-product__rated.rated(data-rateyo-read-only="true" data-rateyo-rating="3")