section.s-features.section--padding-top-bottom
	.container
		.features__row
			.features__col
				.features__col-image(style="background-image: url('static/images/common/features-img-1.png')")
				h3.title.title--color-black.title--size-xs.features__col-title Best UX Research
				p.features__col-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diamcongue is laoreet elit metus.
			.features__col
				.features__col-image(style="background-image: url('static/images/common/features-img-2.png')")
				h3.title.title--color-black.title--size-xs.features__col-title Fully Responsive
				p.features__col-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diamcongue is laoreet elit metus.
			.features__col
				.features__col-image(style="background-image: url('static/images/common/features-img-3.png')")
				h3.title.title--color-black.title--size-xs.features__col-title Buy & Sell Easily
				p.features__col-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisquethe mattis, leo quam aliquet diamcongue is laoreet elit metus.