section.s-followers-feed.section--padding-top-bottom.section-bg--color-gray
	.container
		.section-top
			h2.title.title--color-black.title--size-s Your Followers Feed
			.section-top__control.followers-feed__control.section-top__control--bg-blue
		.followers-feed__slider
			.js-followers-feed__slider(data-space="13")
				include ../../modules/products/followers-feed-prodict/product-prev-1
				include ../../modules/products/followers-feed-prodict/product-prev-2
				include ../../modules/products/followers-feed-prodict/product-prev-3
				include ../../modules/products/followers-feed-prodict/product-prev-1
				include ../../modules/products/followers-feed-prodict/product-prev-2
				include ../../modules/products/followers-feed-prodict/product-prev-3