section.s-main-screen
	.container
		.main-screen__inner
			.main-screen__content
				h2.main-screen__subtitle.title.title--size-l.title--weight-normal.title--color-white Create Your Own
				h1.main-screen__title.title.title--size-l.title--weight-bold.title--color-white Digital Product Marketplace
				span.main-screen__desc MartPlace is the most powerful, & customizable template for Easy Digital Downloads Products
				.main-screen__links
					a(href="#").main-screen__link.btn.btn--bg-white.btn--size-m View All Products
					a(href="#").main-screen__link.btn.btn--bg-transperent.btn--size-m Popular Products
			.main-screen__search
				form(action="#").main-screen__search-form
					.main-screen__search-inner
						input(type="text" placeholder="Search your products...").main-screen__search-input
						select.main-screen__search-select
							option.main-screen__search-option All Categories
							option.main-screen__search-option Products
							option.main-screen__search-option Collection
							option.main-screen__search-option Features
					button(type="submit").main-screen__search-btn Search Now