section.s-reviews.section--padding-top-bottom
	.container
		+title('Our Clients', ' Feedback', 'Laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats. Lid est laborum dolo rumes fugats untras.')
		.reviews__inner
			.reviews__item
				+icon('bubble', 'reviews__item-icon')
				a(href="#").reviews__item-author
					.reviews__item-userpic
						img(src="static/images/common/avatar-2.png").reviews__item-userpic-img
					.reviews__item-title
						span.reviews__item-name Taofiqul Hakim
						span.reviews__item-profession Product Designer
				p.reviews__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum is mollis. Praesent the pharetra, justo ut scelerisque.
			.reviews__item
				+icon('bubble', 'reviews__item-icon')
				a(href="#").reviews__item-author
					.reviews__item-userpic
						img(src="static/images/common/avatar.png").reviews__item-userpic-img
					.reviews__item-title
						span.reviews__item-name Saifullah Al Murtafee
						span.reviews__item-profession Product Designer
				p.reviews__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum is mollis. Praesent the pharetra, justo ut scelerisque.
			.reviews__item
				+icon('bubble', 'reviews__item-icon')
				a(href="#").reviews__item-author
					.reviews__item-userpic
						img(src="static/images/common/avatar-2.png").reviews__item-userpic-img
					.reviews__item-title
						span.reviews__item-name Taofiqul Hakim
						span.reviews__item-profession Product Designer
				p.reviews__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum is mollis. Praesent the pharetra, justo ut scelerisque.
			.reviews__item
				+icon('bubble', 'reviews__item-icon')
				a(href="#").reviews__item-author
					.reviews__item-userpic
						img(src="static/images/common/avatar.png").reviews__item-userpic-img
					.reviews__item-title
						span.reviews__item-name Saifullah Al Murtafee
						span.reviews__item-profession Product Designer
				p.reviews__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum is mollis. Praesent the pharetra, justo ut scelerisque.
			.reviews__item
				+icon('bubble', 'reviews__item-icon')
				a(href="#").reviews__item-author
					.reviews__item-userpic
						img(src="static/images/common/avatar-2.png").reviews__item-userpic-img
					.reviews__item-title
						span.reviews__item-name Taofiqul Hakim
						span.reviews__item-profession Product Designer
				p.reviews__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum is mollis. Praesent the pharetra, justo ut scelerisque.
			.reviews__item
				+icon('bubble', 'reviews__item-icon')
				a(href="#").reviews__item-author
					.reviews__item-userpic
						img(src="static/images/common/avatar.png").reviews__item-userpic-img
					.reviews__item-title
						span.reviews__item-name Saifullah Al Murtafee
						span.reviews__item-profession Product Designer
				p.reviews__item-text Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque the mattis, leo quam aliquet diam congue is the laoreet elit metus. Nunc placerat mi is id nisi interdum is mollis. Praesent the pharetra, justo ut scelerisque.
		button.reviews__btn-all.btn.btn--size-m.btn--bg-blue View All Reviews
