section.s-statistics.section-bg--color-black.home__counters
	.container
		.statistics__inner(style="color: white")
			.statistics__col.statistics__col--color-yellow
				+icon('briefcase', 'statistics__col-icon')
				span.statistics__col-count(data-count="38436") 0
				span.statistics__col-desc items for sale
			.statistics__col.statistics__col--color-blue
				+icon('cloud-download', 'statistics__col-icon')
				span.statistics__col-count(data-count="3736") 0
				span.statistics__col-desc items for sale
			.statistics__col.statistics__col--color-green
				+icon('smile', 'statistics__col-icon')
				span.statistics__col-count(data-count="2736") 0
				span.statistics__col-desc items for sale
			.statistics__col.statistics__col--color-red
				+icon('users', 'statistics__col-icon')
				span.statistics__col-count(data-count="25736") 0
				span.statistics__col-desc items for sale