nav.header__menu.main-menu
	ul.main-menu__list
		li.main-menu__item
			a(href="#").main-menu__link HOME
			include ../dropdown/main-dropdown-1
		li.main-menu__item
			a(href="#").main-menu__link all products
			include ../dropdown/main-dropdown-4
		li.main-menu__item
			a(href="#").main-menu__link wordpress
			include ../dropdown/main-dropdown-2
		li.main-menu__item
			a(href="#").main-menu__link features
		li.main-menu__item.main-menu__item--big-dropdown
			a(href="#").main-menu__link pages
			include ../dropdown/main-dropdown-3
