.header__top-dropdown.dropdown-basket
	.header__top-dropdown-body.js-header__top-dropdown-body
		.dropdown-basket__item
			.dropdown-basket__thumb
				img(src="static/images/common/product-img-1.png" alt="").dropdown-basket__thumb-image
			.dropdown-basket__info
				span.dropdown-basket__info-name Finance and Consulting Business Theme
				.dropdown-basket__tagline
					+icon('wordpress', 'dropdown-basket__tagline-icon')
					span.dropdown-basket__tagline-text Wordpress
			.dropdown-basket__delete-price
				.dropdown-basket__delete
					+icon('trash', 'dropdown-basket__delete-icon')
				.dropdown-basket__price.btn.btn--size-xs
					span.dropdown-basket__price-text(data-price="60")
		.dropdown-basket__item
			.dropdown-basket__thumb
				img(src="static/images/common/product-img-1.png" alt="").dropdown-basket__thumb-image
			.dropdown-basket__info
				span.dropdown-basket__info-name Flounce - Multipurpose OpenCart Theme
				.dropdown-basket__tagline
					+icon('wordpress', 'dropdown-basket__tagline-icon')
					span.dropdown-basket__tagline-text Wordpress
			.dropdown-basket__delete-price
				.dropdown-basket__delete
					+icon('trash', 'dropdown-basket__delete-icon')
				.dropdown-basket__price.btn.btn--size-xs
					span.dropdown-basket__price-text(data-price="20")
	.dropdown-basket__footer
		.dropdown-basket__footer-total Total :   &nbsp; &nbsp;   $80
			span.dropdown-basket__footer-total-text
		.dropdown-basket__footer-links
			a(href="#").dropdown-basket__footer-link.dropdown-basket__footer-link--color-pink Go to Cart
			a(href="#").dropdown-basket__footer-link.dropdown-basket__footer-link--color-blue Go to Checkout