.main-menu__dropdown.dropdown.dropdown--big
	.dropdown__inner
		.dropdown__col
			h3.main-menu__dropdown-title.dropdown-title MartPlace Pages
			.dropdown__row
				ul.main-menu__dropdown-list
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Home Page One
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Home Page Two
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Home Page Three
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Products Grid
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Products List
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Category Grid Sidebar
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Category List Sidebar
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Search Product
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Product V-1
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Product V-2
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Product V-3
				ul.main-menu__dropdown-list
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Items Comments
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Items Reviews
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Items Support
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Single Items FAQs
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Favorites Items
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Author Profile
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Author Items
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Customer Reviews
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Followers
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Following
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Product View Variations
		.dropdown__col
			h3.main-menu__dropdown-title.dropdown-title Dashboard
			.dropdown__row
				ul.main-menu__dropdown-list
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Dashboard
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Account Settings
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Author Purchases
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Items Rating
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Add Credits
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Statements
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Invoice
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Upload Item
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Edit Items
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Withdrawals
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Add Payment Method
		.dropdown__col
			h3.main-menu__dropdown-title.dropdown-title Others Pages
			.dropdown__row
				ul.main-menu__dropdown-list
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Notifications
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Message Inbox
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Shopping Cart
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Checkout
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Login
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Register
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Recovery Password
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Support Forum
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Forum Details
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link How It Works
				ul.main-menu__dropdown-list
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link About Us
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Pricing Plan
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Testimonials
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link FAQs
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link FAQs Details
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Affiliates
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Terms & Conditions
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Blog V-1
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Blog V-2
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Blog Details
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Contact Us
					li.main-menu__dropdown-item.dropdown-item
						a(href="#").main-menu__dropdown-link.dropdown-link Menu & Footer Variation