.header__top-dropdown.dropdown-messages
	.header__top-dropdown-head
		sapn.header__top-dropdown-title My Messages
		a(href="#").header__top-dropdown-more View All
	.header__top-dropdown-body
		ul.header__top-dropdown-list
			li.header__top-dropdown-item.header__top-dropdown-item--unread
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-2.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						.dropdown-messages__name.header__top-dropdown--name
							span.dropdown-messages__name-text Washim
							+icon('envelope', 'dropdown-messages__name-icon')
							span.header__top-dropdown-time Just now
						span.header__top-dropdown-text Hello John Smith! Nunc placerat id...
			li.header__top-dropdown-item.header__top-dropdown-item--unread
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-2.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						.dropdown-messages__name.header__top-dropdown--name
							span.dropdown-messages__name-text Bulbul Ahmed
							+icon('envelope', 'dropdown-messages__name-icon')
							span.header__top-dropdown-time 2 hours ago
						span.header__top-dropdown-text Hello John Smith! Nunc placerat id...
			li.header__top-dropdown-item.header__top-dropdown-item--pending
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-2.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						.dropdown-messages__name.header__top-dropdown--name
							span.dropdown-messages__name-text Bulbul Ahmed
							+icon('share-messages', 'dropdown-messages__name-icon')
							span.header__top-dropdown-time 2 hours ago
						span.header__top-dropdown-text Hello John Smith! Nunc placerat id...
			li.header__top-dropdown-item
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-2.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						.dropdown-messages__name.header__top-dropdown--name
							span.dropdown-messages__name-text Bulbul Ahmed
							span.header__top-dropdown-time 2 hours ago
						span.header__top-dropdown-text Hello John Smith! Nunc placerat id...
			li.header__top-dropdown-item
				a(href="#").header__top-dropdown-link
					.header__top-dropdown-userpic
						img(src="static/images/common/avatar-2.png" alt="").header__top-dropdown-userpic-image
					.header__top-dropdown-info
						.dropdown-messages__name.header__top-dropdown--name
							span.dropdown-messages__name-text Bulbul Ahmed
							span.header__top-dropdown-time 2 hours ago
						span.header__top-dropdown-text Hello John Smith! Nunc placerat id...
