section{
  &.section-bg--color-gray{
    background-color: $pale-grey-three;
  }
  &.section--padding-top-bottom{
    padding: 120px 0;
  }
}
.section-top{
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  background-color: $white;
}
.logo{
  max-width: 200px;
}
.title{
  font-size: 30px;
  &--color{
    &-white{
      color: $pale-grey-four;
    }
    &-black{
      color: $black;
    }
  }
  &--size{
    &-xs{
      font-size: 24px;
      line-height: 24px;
    }
    &-s{
      font-size: 30px;
      line-height: 0.93;
    }
    &-l{
      font-size: 60px;
      line-height: 1.17;
    }
  }
  &--weight{
    &-normal{
      font-weight: 400;
    }
    &-medium{
      font-weight: 500;
    }
    &-bold{
      font-weight: 700;
    }
  }
}
.slider{
  &-arrow{
    background-color: transparent;
    border: none;
    width: 50%;
    position: relative;
  }
}

@import "main-screen";
@import "features";
@import "featured-products";