.icon{
  &-magnifier{
    @include box(16px);
    fill: $white;
  }
  &-alarm{
    width: 22px;
    height: 23px;
    fill: $blue-grey;
  }
  &-envelope{
    width: 23px;
    height: 24px;
    fill: $blue-grey;
  }
  &-cart{
    width: 22px;
    height: 24px;
    fill: $blue-grey;
  }
  &-heart{
    @include box(17px);
    fill: $bluey-purple;
  }
  &-magnifier{
    @include box(16px);
  }
  &-chevron{
    &-left,
    &-right{
      width: 16px;
      height: 20px;
      fill: $white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.basket{
  color: $cerulean-blue;
  font-size: 15px;
  line-height: 15px;
  &__icon{
    fill: $cerulean-blue;
    @include box(16px);
    margin-right: 10px;
  }
  &__count{
    vertical-align: middle;
  }
}